@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
  
  
  body{
    min-height: 100vh;
    background-color: #5e2129;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  header{
    width: 100%;
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-bottom: 2px white solid;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   z-index: 999;
  }
  header .logo{
      height: 70px;
      width: 100px;  
  }   
  
  nav a{
    font-size: 25px;
    text-transform: capitalize;
    margin: 15px;
    padding: 8px;
    color: #ffffff;
    font-weight: 500;
    border-bottom: solid transparent 3px;
    transition: .3s ease;
    margin-right: 20px;
  
  }
  nav a:hover{
    border-bottom: solid rgb(0, 0, 0) 3px;
    color: rgb(0, 0, 0);
  }
  .btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
    color: red;
    border-radius: 10px;
    transition: .3s ease;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
  
  }
  .btn:hover{
    transform: scale(1.1);
  }

  .quadrado1 {
    width: 400px;
    height: 500px;
    background-color: transparent;
    border: white solid 4px;
    display: inline-block;
    justify-content: left;
    margin-left: 200px;
    margin-top: 30vh;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    
  }
  .fotopreta {
    background-image: url(../trabalho/img/EPI.jpg);
    height: 50%;
    width: 100%;
    justify-content: top;
    border: white solid 4px;
  }
  .quadrado2 {
    
    width: 400px;
    height: 500px;
    background-color: transparent;
    border: white solid 4px;
    display: inline-block;
    justify-content: left;
    margin-left: 100px;
    margin-top: 30vh;
    border-radius: 10px;
    backdrop-filter: blur(10px);
  }
  .fotopreta2 {
    background-image: url(../trabalho/img/atendimento.jpg);
    background-position: 70% 45%;
    height: 50%;
    width: 100%;
    justify-content: top;
    border: white solid 4px;
  }
  .quadrado3 {
    width: 400px;
    height: 500px;
    background-color: transparent;
    border: white solid 4px;
    display: inline-block;
    justify-content: left;
    margin-left: 100px;
    margin-top: 30vh;
    border-radius: 10px;
    backdrop-filter: blur(10px);
   
  }
  .fotopreta3 {
    background-image: url(../trabalho/img/black.jpg);
    height: 50%;
    width: 100%;
    justify-content: top;
    border: white solid 4px;
  }
  
  p {
    color: white;
    font-weight: 800;
    padding: 10px;
    font-size: 15px;
  }
  
  .texto {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    color: white;
    font-size: 14.5px;
  }

  .btn2{
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
    color: #ff0000;
    border-radius: 10px;
    transition: .3s ease;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;

  }

  .botao {
      text-align: center;
      position: relative;
      top: 7vh;
  }
  .btn2:hover{
    transform: scale(1.1);
  }