@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@font-face {
    font-family: 'Ebrima';
    src: url(../trabalho/Fontes/ebrima.ttf);
  }
  @font-face {
    font-family: 'PoppingsSemi';
    src: url(../trabalho/Poppins/Poppins-BoldItalic.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
    font-weight: 500;
    text-decoration: none;
}

body, img{
      
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index:0;
 
   }

   body{

    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    min-height: 100vh;
  }
  
  header{
    width: 100%;
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #15726d;
    backdrop-filter: blur(10px);
    border-bottom: 2px #15726d solid;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   z-index: 999;
  }
  header .logo{
      height: 70px;
      width: 100px;  
  }   
  
  nav a{
    font-size: 25px;
    text-transform: capitalize;
    margin  : 15px;
    padding: 8px;
    color:white;
    font-weight: 500;
    border-bottom: solid transparent 3px;
    transition: .3s ease;
    
  
  }
  nav a:hover{
    border-bottom: solid rgb(0, 0, 0) 3px;
    color: rgb(0, 0, 0);
  }
  .btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: white;
    color: #15726d;
    border-radius: 10px;
    transition: .3s ease;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
  
  }
  
  .btn:hover{
    transform: scale(1.1);
  }

  .fundo1{
        width: 100%;
        height: 800px;
        position: absolute;
        z-index: 0;
        background-color: #15726d;
  }


  .titulo {
    font-size: 90px;
    color: black;
    text-align: left;
    margin-right: 800px;
    margin-bottom:200px;
    z-index: 1;
    position: absolute;
  }

  .titulo p {
    font-size: 25px;
    color: rgb(155, 154, 154);
    text-align: left;
    padding-bottom: 20px;
    position: absolute;
    z-index: 1;
  }

  .texto1 {
    color: rgb(155, 154, 154);
    font-size: 20px;
    position: absolute;
    max-width: 600px;
    margin-right: 300px;
    margin-top: 200px;
    text-align: left;
  }

.problema {
  font-size: 60px;
  color: black;
  position: absolute;
  font-weight: 400;
  margin-top: 1150px;
  margin-right: 1100px;
}


/*PROBLEMAS*/
    /*numeros*/
  .numerogrande {
    font-size: 250px;
    -webkit-text-stroke: 1.5px black; 
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    position: absolute;
  }
   .n1{
    margin-top:1600px;
    margin-right: 700px;
   }

   .n2{
    margin-top:2400px;
    margin-right: 700px;
   }

   .n3{
    margin-top:3250px;
    margin-right: 700px;
   }






/*Titulos*/
  .titulopreto {
    font-size: 100px;
    color: black;
    position: absolute;
  }

  .tt1{
    margin-top: 1500px;
    margin-right: 0px;
  }

  .tt2{
    margin-top: 2360px;
    margin-left: 190px;
    line-height: 0.8;
  }

  .tt3{
    margin-top: 3210px;
    margin-left: 20px;
    line-height: 0.8;
  }

  .tt4 {
    margin-top: 4300px;
    margin-right: 500px;
  }





/*textos*/

.base {
  font-size: 25px;
  color: black;
  position: absolute;
  font-style: oblique;
}

.t1{
  margin-top: 1750px;
  margin-left: 100px;
}

.t2{
  margin-top: 2700px;
  margin-left: 100px;
}

.t3{
  margin-top: 3540px;
  margin-left: 50px;
}

/*Fotos*/
.foto1 img {
  width: 500px;
  height: auto;
  position: absolute;
bottom: 200px;
  margin-left: 300px;
}

.fundo2 {
  
    width: 100%;
    height: 1200px;
    position: absolute;
    z-index: 0;
    background-color: #15726d;
    margin-top: 5200px;
}

.bolinha::before {
  content: "•"; /* O caractere da bolinha */
  font-size: 30px; /* Tamanho da bolinha */
  color: black; /* Cor da bolinha */
  margin-right: 10px; /* Espaçamento entre a bolinha e o texto */
  font-weight: 1000;
}

/*Parte verde 2*/

.como {
  color: rgb(155, 154, 154);
  position: absolute;
  font-size: 25px;
}

.c1 {
  margin-right: 800px;
  margin-top: 4180px;
}

.c2 {
  margin-right: 200px;
  margin-top: 4500px;
}

.c3 {
  align-items: center;
  margin-top: 5000px;
  color: white;
  font-style: oblique;
  text-align: left;
  font-weight: 300;
}

.c4 {
  align-items: center;
  margin-top: 5500px;
  color: white;
  font-style: oblique;
  text-align: left;
  font-weight: 300;
}

.c5 {
  align-items: center;
  margin-top: 6000px;
  color: white;
  font-style: oblique;
  text-align: left;
  font-weight: 300;
}

/*Linha preta*/

.linha {
  height: 5px;
  background-color: black;
  width: 1500px;
  position: absolute;
}

.l1 {
  margin-top: 5200px;
}

.l2 {
  margin-top: 5700px;
}

/*Titulos pequenos*/

.ttpequeno {
  color: black;
  font-size: 28px;
  position: absolute;
}

.ttp1 {
  margin-top: 4830px;
  margin-right: 460px;
}

.ttp2 {
  margin-top: 5330px;
  margin-right: 580px;
}

.ttp3 {
  margin-top: 5830px;
  margin-right: 420px;
}